// $bg: rgba(#000000, 30%);
$bg: rgba(#333, 90%);
$fg: #fff;
// $bg: red;


* {
  all: unset;
  background: transparent;
  font-family: CaskaydiaCove Nerd Font Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14;

}

.volume,
.brightness,
.clipboard,
.media_preview,
.media_summary,
.time {
  background: $bg;
  border-radius: 10;
  padding: 0 0.5em;
}

.bar_center > * {
  margin: 0 1em;
}

.media_art {
  background-size: cover;
  background-position: center;
  border-radius: 10;
  margin: 0.5em;
  padding: 2rem;
}
.media_art + .paused {
  // filter: grayscale(100%);
  // -gtl-recolor
}
.media_preview_text {
  margin: 0.5em;
}

.vb > * {
  margin: 10;
  font-size: 18;
}

.vb-title {
  font-size: 30;
}

.cb-item {
  border: 1px solid rgba($fg, 30%);
  border-radius: 10;
  margin: 4;
  padding: 4;
}

.cb-text {
  // overflow-wrap: anywhere;
  // word-break: break-all;
}

.cb-empty {
  color: rgba($fg, 30%);
}

.cb-event:hover > .cb-item {
  background: $bg;
}

.cb-event > .cb-item > .cb-showhide >.cb-show {
  color: transparent;
}
.cb-event:hover > .cb-item > .cb-showhide > .cb-hide {
  color: transparent;
}
.cb-event:hover > .cb-item > .cb-showhide > .cb-show {
  color: unset;
}
