@define-color grey #3C3836;
@define-color blue #448488;
@define-color red #cc231c;
@define-color purple #b16185;
@define-color yellow #d79920;
@define-color green #989719;
@define-color bg rgba(0, 0, 0, 0.6);
@define-color primary #7C8E76;
@define-color active white;
@define-color inactive #7C8E76;

window#waybar {
    background: transparent;
    font-family: CaskaydiaCove Nerd Font Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
}

button {
  border: none;
}

/* single modules */
#custom-idasen,
#workspaces,
#tray,
#window,
#privacy {
  padding: 0 15px;
  border-radius: 20px;
  background: @bg;
  color: white;
}

#custom-shutdown,
#custom-reboot,
#clock {
  background: @bg;
}

#custom-shutdown,
#custom-reboot {
  font-size: 1.75em;
  padding-left: 5px;
}

/* left aligned modules */
#custom-idasen,
#privacy,
#workspaces,
#window {
  margin-right: 5px;
}

#workspaces {
    padding: 0;
    font-family: thewitcher, Arial, sans-serif;
    font-size: 19px;
}
#workspaces button {
    padding: 0 15px;
    color: white;
    border-radius: 20px;
    margin: 0 0 0 -5px;
}
#workspaces button:nth-child(1) {
  margin: 0;
}
#workspaces button.active {
    color: white;
    background: @primary;
    box-shadow: unset;
}
#workspaces button.empty:not(.active) {
  color: @primary;
}
#workspaces button.urgent {
    background-color: @red;
}

#custom-idasen {
  font-size: 1.75em;
}

#custom-media {
  font-family: sans-serif;
}

big {
  background: @primary;
  font-size: 1.25em;
  padding: 0 15px;
  /* padding: 0 0.75em; */
  border-radius: 20px;
  /* box-shadow: -6px 0px 0px 2px @grey; */
  margin: 0 0 0 -30px;
}

/* status modules */
#cpu,
#memory,
#disk,
#temperature,
#network {
    background: @grey;
    color: white;
    opacity: 1;
    margin: 0;
}
label:disabled {
  color: white;
  opacity: 1;
}
#cpu,
#memory,
#temperature,
#network {
  border-radius: 15px 0 0 15px;
  padding: 0 0.75em;
  margin: 0 0 0 0.5em;
}

#custom-icon-spacer {
  background: @bg;
  padding: 0 20px;
  margin: 0 -10px 0 0;
}

/* right aligned modules */
#custom-mail,
#custom-battery,
#backlight,
#pulseaudio,
#custom-media {
  padding: 0 35px 0 15px;
  background: @bg;
  border-radius: 20px 0 0 20px;
  padding-right: 5px;
  margin-left: 5px;
}

#custom-icon-left {
  background: @primary;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
  margin-right: -5px;
}

/* all custom-icon-left parents */
.modules-right > *:nth-child(14),
.modules-right > *:nth-child(11),
.modules-right > *:nth-child(8),
.modules-right > *:nth-child(5),
.modules-right > *:nth-child(2) {
  background: @bg;
}

.icon {
  background: @primary;
  font-size: 1.75em;
  padding-right: 15px;
  border-radius: 0 20px 20px 0;
  margin: 0 0 0 0px;
  box-shadow: -15px 0 0 0 @bg;
  box-shadow: unset;
}

#custom-audio-headset,
#custom-audio-integrated,
#custom-audio-hdmi {
  background: @bg;
  font-size: 1.75em;
  padding-right: unset;
  padding-right: 5px;
}

.active {
  color: @active;
}
.inactive {
  color: @inactive;
}

#custom-left {
  background: @bg;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
}
#custom-right {
  background: @bg;
  border-radius: 0 20px 20px 0;
  padding-left: 20px;
}
